{% extends 'header.twig' %}

{% block title %}Categorie{% endblock %}

{% block content %}
{% if success == false %}
    <form method="post" action="{{ url_for('catcreated') }}">
        <label for="libelle">Libelle</label>
        <input type="text" name="libelle" id="libelle" required/>
        <label for="description">Description</label>
        <input type="description" name="description" id="description" required/>
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <input type="submit" value="Ajouter">
    </form>
{% else %}
    <p>Categorie {{ categorie.libelle }} ajoutée</p>
{% endif %}
{% endblock %}